<html>
  <head>
    <meta charset="UTF-8">
      <title>I have paws</title>
  </head>
  <body>
    <form>
        <select name="t">
            {% for table in tables %}
                <option {% if selected_table.tableName==table %} selected {% endif %}> {{ table }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Show table">
    </form>
        <table>
            <thead>
              {% for field in table_fields %}
                <th>
                    {{ field }}
                </th>
              {% endfor %}
             </thead>
            {% for row in rows %}
                <tr>
                {% for element in row %}
                    <td>
                        {{ element }}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
  </body>
</html>