<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>I have paws</title>
     <style type="text/css">
        TABLE {
            border-collapse: collapse;
        }
        TD, TH {
            padding: 3px;
            border: 1px solid black;
        }
        TH {
            background: #b0e0e6;
        }
  </style>
  </head>
  <body>
     <form>
        <select name="t" onchange="this.form.submit()">
           {% for table in tables %}
              <option {% if selected_table.tableName==table %} selected {% endif %} >
                 {{ table }}
              </option>
           {% endfor %}
        </select>
        <br><br>
        {% for i in range(search.count) %}
           <select name={{'c' + i|string}}>
              {% for field in meta %}
                 <option {% if search.columns[i].colName==field.colName %} selected {% endif %} value="{{ field.colName }}">
                    {{ field.viewedName }}
                 </option>
              {% endfor %}
           </select>
           <select name={{'op' + i|string}}>
              {% for operator in operators %}
                 <option {% if search.operators[i]==operator %} selected {% endif %}>
                    {{ operator }}
                 </option>
              {% endfor %}
            </select>
           <input name={{'s' + i|string}} value="{{ search.requests[i] }}">
        <br><br>
        {% endfor %}
        <input type="submit" value="Найти">
        <input type="hidden" name="cnt" value="{{search.count}}">
        <input type="submit" value="Добавить" onclick="cnt.value={{search.count + 1}}">
        {% if search.count > 1 %}
        <input type="submit" value="Удалить" onclick="cnt.value={{search.count - 1}}">
        {% endif %}
     </form>
     <br>
     <table>
        <thead>
           {% for field in meta %}
              <th align="center">
                  {{ field.viewedName }}
              </th>
          {% endfor %}
        </thead>
        {% for row in rows %}
           <tr>
           {% for element in row %}
              <td align="center">
                 {{ element }}
              </td>
           {% endfor %}
           </tr>
        {% endfor %}
     </table>
  </body>
</html>