<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>I have paws</title>
     <style type="text/css">
        TABLE {
            border-collapse: collapse;
        }
        TD, TH {
            padding: 3px;
            border: 1px solid black;
        }
        TH {
            background: #b0e0e6;
            font: 100% sans-serif
        }
        .olap{
             background: #b0e0e6;
        }
     </style>
  </head>
  <body>
     <form>
        <input type="hidden" name="c" value="{{olap_col}}">
        <input type="hidden" name="r" value="{{olap_row}}">
        <table>
           <thead>
              {% for field in meta %}
                 <th align="center">
                     {{ field.viewedName }}
                 </th>
              {% endfor %}
           </thead>
           <tr>
               {% for i in range(row|length) %}
                  <td align="center">
                      <input {% if meta[i].type !='str' and meta[i].type !='ref_ord' %} type="number" min="0" max="9999999"{% endif %}
                             name={{ meta[i].colName }} value="{{ row[i] }}"
                             {% if i == olap_col-1 or i == olap_row-1 %}class="olap"{% endif %}>
                  </td>
               {% endfor %}
           </tr>
        </table>
        <br>
        <input type="submit" value="Сохранить изменения">
        <br>
     </form>
  </body>
</html>